// for Intellij
grant codeBase "file:${idea.launcher.bin.path}/../-" {
    permission java.security.AllPermission;
};

// for Maven
grant codeBase "file:${maven.repo.local}/-" {
    permission java.security.AllPermission;
};

grant codeBase "file:target/classes/-" {
    permission java.security.AllPermission;
};

grant codeBase "file:target/test-classes/-" {
    permission java.util.PropertyPermission "user.name", "read";
    permission "java.lang.RuntimePermission" "getProtectionDomain";
};